body {
	margin: 15px 15px 15px 15px;
		background-color: #EEEEEE;
	
        	text-align: left;
        	color: #333333;
        	font-family: Verdana; 
        
	}

a {
	text-decoration: underline;
	
	
	}

a:link {
	color: #3399FF;
	}

a:visited {
	color: #8FABBE;
	}

a:active {
	color: #8FABBE;
	}

a:hover {
	color: #FF9900;
	}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	}

	


#container {
	line-height: 110%;
	margin-right: auto;
	margin-left: 50;
	text-align: left;
	padding: 0px;
	width: 820px;
	float: left;
	border: 1px solid #DDCDFF;
	background-color: #000000;
	}
	
#container table{
	padding: 15px 15px 5px 15px;
	background-color: #666666;
	border=FALSE 
	cellspacing=4
	cellpadding=4
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: 110%; 
	width: 100%;
	}

#container td{
	color: #FFFFFF;
	font-family: Verdana, Arial, sans-serif;
	font-size: 110%; 
	valign: top;
	}

#container img{
	border: 15px solid #FFFFFF; 
	}
	
#container h1 {
	/*font-size: xx-large;*/
	font-size: 200%;
	color: #EEEEEE;
	font-family: Verdana, Arial, sans-serif;
	}	

#banner {
	font-family: Verdana, Arial, sans-serif;
	color: #ffefc9;
	background-color: #261703;
	text-align: left;
	padding-left: 6px;
	border-bottom: 1px solid #261703;
	height: 90px;
	}

#banner-img {
	display: none;
	}


#banner a {
	color: #FFFFFF;
	text-decoration: none;
	}

#banner h1 {
	/*font-size: xx-large;*/
	font-size: 200%;
	}

#banner h2 {
	/*font-size: small;*/
	font-size: 80%; 
	}

#banner table {
	padding: 6px;
	border-collapse: collapse;
	border: 1px;
	border-color: #FFFFFF;
	valign: center;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	color: #ffefc9;
	}



#center {
	float: left;
	width: 600px;
	border-bottom: 1px solid #000000;
	background-color: #261703;
	overflow: hidden;
	}

.content {
	padding: 5px 15px 5px 15px;
	background-color: #261703;
	
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	/*font-size: small;*/
	font-size: 80%;
	}
	


#right {
	float: left;	
	width: 218px;
	background-color: #FFFFFF;
	
	overflow: hidden;
	}

.content p {
	color: #ffefc9;
	font-family: Arial, sans-serif;
	font-weight: normal;
	line-height: 135%;
	text-align: left;
	/*margin-bottom: 10px;*/
	}

.content blockquote {
	line-height: 150%;
	}

.content li {
	line-height: 150%;
	margin-bottom: 10px; 
	}
	
.content ol {
	/*margin-left: -15px;*/
	}	

.content h2 {
	color: #ffefc9;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	
	text-align: left;
	font-weight: bold;
	
	
	margin-bottom: 10px;
	
	}

.content h3 {
	color: #ffefc9;
	font-family: Verdana, Arial, sans-serif;
	/*font-size: small;*/
	font-size: 80%;
	text-align: left;
	font-weight: bold;
	
	
	margin-bottom: 10px;
	
	}

.content p.posted {
	color: #999999;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	border-top: 1px solid #999999;
	text-align: left;
	
	
	
	margin-bottom: 25px;
	line-height: normal;
	padding: 3px;
	}

.sidebar {
	padding: 1px;
	background-color: #261703;
	height: 100%;
	}



.sidebar h2 {
	color: #ffefc9;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	
	text-align: center;
	font-weight: bold;
	
	text-transform: uppercase;
  	
	letter-spacing: .3em;
	}

.sidebar ul {
	padding-left: 0px;
	margin: 0px;
	margin-bottom: 30px;
	}

.sidebar ul ul {
	margin-bottom: 0px;
	}

.sidebar #categories ul {
	padding-left: 15px;
	}

.sidebar li {
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	text-align: left;
	line-height: 150%;
	
	
	
	margin-top: 10px;
	list-style-type: none;
	}

.sidebar #categories li {
	list-style-type: circle;
	}

.sidebar img {
	border: 0px solid #000000;
	}

.photo {
	text-align: left;
	margin-bottom: 20px;
	}

.link-note {
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	line-height: 150%;
	text-align: left;
	padding: 2px;
	margin-bottom: 15px;
	}

#powered {
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	line-height: 150%;
	text-align: left;
	color: #666666;
	margin-top: 50px;
	}

#comment-data {
	float: left;
	width: 180px;
	padding-right: 15px;
	margin-right: 15px;
	text-align: left;
	border-right: 1px dotted #BBB;
	}

textarea[id="comment-text"] {
	width: 80%;
	}

.commenter-profile img {
	vertical-align: middle;
	border-width: 0;
	}

#section {
	float: left; 
	width: 565; 
	background-color: #261703;
	border-bottom: 3px dashed #724918;
	margin-top: 6px; 
}

#sectionHeading {
	width: 120px; 
	float: left; 
	text-align: right; 
	background-color: #261703;
	color: #ffefc9;
	font-family: Verdana, Arial, sans-serif;
	/*font-size: small;*/
	font-size: 100%;
	font-weight: bold;
		
		
	margin-bottom: 10px;
}

#sectionContent{
	width: 415px; 
	float: right; 
	text-align: left; 
	background-color: #261703;
	padding: 0px 3px 5px 5px;
	
	color: #ffefc9;
}

#sectionContentBabydays{
	width: 415px; 
	float: right; 
	text-align: left; 
	background-color: #ffefc9;
	padding: 2px 3px 5px 5px;
	
	color: #ffefc9;
}

	

#schedule {
	font-family: Verdana, Arial, sans-serif;
	color: #FFFFFF;
	background-color: #ffefc9;
	text-align: left;
	padding: 0px;
	border-bottom: 1px solid #FFFFFF;
	
	}

#schedule table {
	padding: 15px 15px 5px 15px;
	background-color: #ffefc9;
	
	border=FALSE
	cellspacing=4
	cellpadding=4
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	/*font-size: small;*/
	font-size: 80%; 
	}
	
#schedule td{
	background-color: #ffefc9;
	valign: top;
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	/*font-size: small;*/
	font-size: 80%; 
	}
	
#schedule th{
	width:100;
	valign: top
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	/*font-size: small;*/
	font-size: 80%; 
	
	}	
	
#writeroot {
	background-color: #FFFFFF;
}

#titletext{
	color: #FF0000;
	font-size: x-small; 
}

#datetext{
	color: #005555;
	font-size: x-small; 
}

#conferenceCalendar {
	color: #ffefc9;
}

#conferenceCalendar iframe{
	height: 500px; 
	border: 0px;
	width: 195px; 
	frameborder: 0; 
	scrolling: no;
	background-color: #261703;
	border-width: 0px; 
}